
body {
    background: linear-gradient(to right, #f9cbac, #f7f7f1);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgba(138, 193, 242, 0.9);
    padding: 1rem 0;
}
.container {
    background-color: rgba(130, 180, 201, 0.9);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}
footer {
    background-color: rgba(80, 129, 242, 0.9);
    padding: 1rem 0;
    margin-top: 2rem;
    color: #666;
}